node-red/.flows.json.backup
[{"id":"32779322.5c5d9c","type":"tab","label":"Освещение","disabled":false,"info":""},{"id":"7183087.63f20f8","type":"tab","label":"Охрана","disabled":false,"info":""},{"id":"42b2f3c5.be2ebc","type":"tab","label":"Климат","disabled":false,"info":""},{"id":"3cc38b72.222654","type":"tab","label":"Присутствие","disabled":false,"info":""},{"id":"add91c07.a5e05","type":"tab","label":"Инфраструктура","disabled":false,"info":""},{"id":"851f4335.e66ab","type":"server","z":"","name":"Hassio","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"b70bff82.81683","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a57a6125.75708","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"abe9720e.512f","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7e4cae06.986c5","type":"time-range-switch","z":"32779322.5c5d9c","name":"","lat":"","lon":"","startTime":"22:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":550,"y":160,"wires":[["1e3742.9277d8be"],[]]},{"id":"de9b8216.9dce2","type":"api-current-state","z":"32779322.5c5d9c","name":"Автоматизация","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_light","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":160,"wires":[["7e4cae06.986c5"],[]]},{"id":"1e3742.9277d8be","type":"api-call-service","z":"32779322.5c5d9c","name":"Вкл","server":"851f4335.e66ab","version":"1","service_domain":"light","service":"turn_on","entityId":"light.hall_back","data":"{\"brightness\":50,\"rgb_color\":[255,255,255]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":160,"wires":[[]]},{"id":"ee0e6661.296a78","type":"trigger-state","z":"32779322.5c5d9c","name":"Движение","server":"851f4335.e66ab","entityid":"binary_sensor.hall_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"0ky223kd7yhp","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":110,"y":160,"wires":[["de9b8216.9dce2"],[]]},{"id":"5fddd964.3c2108","type":"time-range-switch","z":"32779322.5c5d9c","name":"","lat":"","lon":"","startTime":"22:00","endTime":"20:00","startOffset":0,"endOffset":0,"x":550,"y":200,"wires":[["1c126913.4121e7"],[]]},{"id":"cae160f6.9a2cb","type":"api-current-state","z":"32779322.5c5d9c","name":"Автоматизация","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_light","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":200,"wires":[["5fddd964.3c2108"],[]]},{"id":"1c126913.4121e7","type":"api-call-service","z":"32779322.5c5d9c","name":"Выкл","server":"851f4335.e66ab","version":"1","service_domain":"light","service":"turn_off","entityId":"light.hall_back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":200,"wires":[[]]},{"id":"cbea543a.6682e8","type":"trigger-state","z":"32779322.5c5d9c","name":"Нет движения","server":"851f4335.e66ab","entityid":"binary_sensor.hall_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"5ldmjdbe2fg","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"false"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":120,"y":200,"wires":[["cae160f6.9a2cb"],[]]},{"id":"753d0946.158238","type":"api-call-service","z":"7183087.63f20f8","name":"Оповещение","server":"851f4335.e66ab","version":"1","service_domain":"script","service":"alarm_alert_view","entityId":"","data":"{\"message\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":480,"wires":[[]]},{"id":"81238880.67f158","type":"function","z":"7183087.63f20f8","name":"Сообщение","func":"var room = (msg.topic || \"\").split(\".\")[1].split(\"_\")[0];\nvar sensor = (msg.topic || \"\").split(\".\")[1].split(\"_\")[1];\n\nswitch(room) {\n    case \"livingroom\":\n        room = \"зале\";\n        break;\n    case \"hall\":\n        room = \"прихожей\";\n        break;\n    case \"kitchen\":\n        room = \"кухне\";\n        break;\n    case \"bedroom\":\n        room = \"спальне\";\n        break;\n}\n\nswitch(sensor) {\n    case \"motion\":\n        sensor = \"движение\";\n        break;\n    case \"window\":\n        sensor = \"окно\";\n        break;\n    case \"balcony\":\n        sensor = \"балкон\";\n        break;\n    case \"entrance\":\n        sensor = \"вход\";\n        break;\n}\n\nvar message = `💔 СРАБОТАЛ ДАТЧИК ${sensor} в ${room}`;\n\nreturn { \"payload\": message };","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["b21e2939.147578"]]},{"id":"b9469a9a.f77c78","type":"trigger-state","z":"7183087.63f20f8","name":"Зал движение","server":"851f4335.e66ab","entityid":"binary_sensor.livingroom_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"63rsnm3x5t","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":120,"y":240,"wires":[["81238880.67f158"],[]]},{"id":"2054c831.4338c8","type":"trigger-state","z":"7183087.63f20f8","name":"Зал окно","server":"851f4335.e66ab","entityid":"binary_sensor.livingroom_window","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"qjpha7s6qco","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":100,"y":280,"wires":[["81238880.67f158"],[]]},{"id":"d5d8ea99.c01078","type":"trigger-state","z":"7183087.63f20f8","name":"Зал балкон","server":"851f4335.e66ab","entityid":"binary_sensor.livingroom_balcony","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"32wag215p89","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":110,"y":320,"wires":[["81238880.67f158"],[]]},{"id":"191561da.195d9e","type":"trigger-state","z":"7183087.63f20f8","name":"Прихожая движение","server":"851f4335.e66ab","entityid":"binary_sensor.hall_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"2ui2n2g2n57","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":140,"y":380,"wires":[["81238880.67f158"],[]]},{"id":"db3fc430.091248","type":"trigger-state","z":"7183087.63f20f8","name":"Прихожая вход","server":"851f4335.e66ab","entityid":"binary_sensor.hall_entrance","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ywyahwruqq","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":120,"y":420,"wires":[["81238880.67f158"],[]]},{"id":"3291983.0491868","type":"trigger-state","z":"7183087.63f20f8","name":"Кухня окно","server":"851f4335.e66ab","entityid":"binary_sensor.kitchen_window","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"j97xg4rc9x","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":110,"y":520,"wires":[["81238880.67f158"],[]]},{"id":"7167cf53.71961","type":"trigger-state","z":"7183087.63f20f8","name":"Кухня движение","server":"851f4335.e66ab","entityid":"binary_sensor.kitchen_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"8fiduvgds9u","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":130,"y":480,"wires":[["81238880.67f158"],[]]},{"id":"da1a8f50.cea6e","type":"trigger-state","z":"7183087.63f20f8","name":"Спальня окно","server":"851f4335.e66ab","entityid":"binary_sensor.bedroom_window","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"peozz4j3zj","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":120,"y":620,"wires":[["81238880.67f158"],[]]},{"id":"f467f8be.417268","type":"trigger-state","z":"7183087.63f20f8","name":"Спальня движение","server":"851f4335.e66ab","entityid":"binary_sensor.bedroom_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"1dfw9q57kdl","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":140,"y":580,"wires":[["81238880.67f158"],[]]},{"id":"b21e2939.147578","type":"api-current-state","z":"7183087.63f20f8","name":"Под охраной?","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"armed_away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"alarm_control_panel.ha_alarm","state_type":"str","state_location":"payload","override_payload":"flow","entity_location":"data","override_data":"flow","blockInputOverrides":false,"x":580,"y":480,"wires":[["753d0946.158238"],[]]},{"id":"3fc2b6f4.36c60a","type":"comment","z":"7183087.63f20f8","name":"Охрана","info":"","x":90,"y":200,"wires":[]},{"id":"ea7d48cf.58a678","type":"comment","z":"32779322.5c5d9c","name":"Прихожая ночник","info":"","x":130,"y":120,"wires":[]},{"id":"d9a35e18.5ff22","type":"inject","z":"32779322.5c5d9c","name":"22:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["f37359a9.1874a8"]]},{"id":"5f0bc6d.5776038","type":"api-call-service","z":"32779322.5c5d9c","name":"Вкл","server":"851f4335.e66ab","version":"1","service_domain":"light","service":"turn_on","entityId":"light.bedroom_back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":320,"wires":[[]]},{"id":"7eafb546.79c27c","type":"inject","z":"32779322.5c5d9c","name":"07:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"x":90,"y":360,"wires":[["2f42cbdf.030a14"]]},{"id":"6ceb6e2f.fbc9f","type":"api-call-service","z":"32779322.5c5d9c","name":"Выкл","server":"851f4335.e66ab","version":"1","service_domain":"light","service":"turn_off","entityId":"light.bedroom_back","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":360,"wires":[[]]},{"id":"76d808c9.c2dd28","type":"comment","z":"32779322.5c5d9c","name":"Солевая лампа","info":"","x":120,"y":280,"wires":[]},{"id":"3bd49244.941eae","type":"trigger-state","z":"7183087.63f20f8","name":"Кухня","server":"851f4335.e66ab","entityid":"binary_sensor.kitchen_waterleak","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"hdpo75oevan","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"},{"id":"r58vw46p72f","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"false"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":90,"y":720,"wires":[["d8359d79.23d6c"],[]]},{"id":"be014de6.5de27","type":"api-call-service","z":"7183087.63f20f8","name":"Оповещение","server":"851f4335.e66ab","version":"1","service_domain":"script","service":"alarm_alert","entityId":"","data":"{\"message\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":760,"wires":[[]]},{"id":"da4ae4bf.64a8c8","type":"trigger-state","z":"7183087.63f20f8","name":"Туалет","server":"851f4335.e66ab","entityid":"binary_sensor.wc_waterleak","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"lg1bkwuyjg9","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"},{"id":"zba3otzi95n","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"false"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":100,"y":920,"wires":[["d8359d79.23d6c"],[]]},{"id":"d8359d79.23d6c","type":"function","z":"7183087.63f20f8","name":"Сообщение","func":"var room = (msg.topic || \"\").split(\".\")[1].split(\"_\")[0];\nvar waterleak = msg.payload;\nswitch(room){\n    case \"kitchen\":\n        room = \"кухне\";\n        break;\n    case \"wc\":\n        room = \"туалете\";\n        break;\n    case \"bathroom\":\n        room = \"ванной\";\n        break;\n}\n\nvar message = waterleak\n  ? `💔 УТЕЧКА ВОДЫ в ${room}`\n  : `💚 Утечка воды в ${room} устранена`;\n\nreturn { \"payload\": message };","outputs":1,"noerr":0,"x":370,"y":760,"wires":[["be014de6.5de27"]]},{"id":"8a278711.27d828","type":"trigger-state","z":"7183087.63f20f8","name":"Ванная","server":"851f4335.e66ab","entityid":"binary_sensor.bathroom_waterleak","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"6cht7sjr7oy","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"},{"id":"gfn7je8tdya","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"false"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":100,"y":820,"wires":[["d8359d79.23d6c"],[]]},{"id":"f63aabb.d3d0458","type":"comment","z":"7183087.63f20f8","name":"Утечка","info":"","x":90,"y":680,"wires":[]},{"id":"cf7ebe94.a6247","type":"trigger-state","z":"42b2f3c5.be2ebc","name":"Кухня","server":"851f4335.e66ab","entityid":"sensor.kitchen_humidity_diff","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"uboshj5jr4a","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"10"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":90,"y":80,"wires":[["e14ca287.3777c"],[]]},{"id":"6dbe2f5b.d8f86","type":"comment","z":"42b2f3c5.be2ebc","name":"Вытяжка кухня","info":"","x":120,"y":40,"wires":[]},{"id":"e14ca287.3777c","type":"api-current-state","z":"42b2f3c5.be2ebc","name":"Автоматизация","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_exhaust","state_type":"habool","state_location":"payload","override_payload":"flow","entity_location":"data","override_data":"flow","blockInputOverrides":false,"x":300,"y":80,"wires":[["10a1e57.fbba01b"],[]]},{"id":"7aed41ec.c427a","type":"api-current-state","z":"42b2f3c5.be2ebc","name":"Автоматизация","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_exhaust","state_type":"habool","state_location":"payload","override_payload":"flow","entity_location":"data","override_data":"flow","blockInputOverrides":false,"x":300,"y":120,"wires":[["205decff.cb7724"],[]]},{"id":"5f840788.ebce48","type":"trigger-state","z":"42b2f3c5.be2ebc","name":"Кухня","server":"851f4335.e66ab","entityid":"sensor.kitchen_humidity_diff","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"s7hbvnk3id","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"<","comparatorValueDatatype":"num","comparatorValue":"8"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":90,"y":120,"wires":[["7aed41ec.c427a"],[]]},{"id":"77bd46a6.306778","type":"trigger-state","z":"7183087.63f20f8","name":"Ванная","server":"851f4335.e66ab","entityid":"binary_sensor.bathroom_waterleak","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"p0by1o9ysj","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"false"},{"id":"emlkpfoidr","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":100,"y":860,"wires":[["d8359d79.23d6c"],[]]},{"id":"e72d4d9e.41041","type":"trigger-state","z":"7183087.63f20f8","name":"Туалет","server":"851f4335.e66ab","entityid":"binary_sensor.wc_waterleak","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"vm8l8cjtsaa","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"false"},{"id":"iwuu2o5i35","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":100,"y":960,"wires":[["d8359d79.23d6c"],[]]},{"id":"c91732b3.45ccc","type":"trigger-state","z":"7183087.63f20f8","name":"Кухня","server":"851f4335.e66ab","entityid":"binary_sensor.kitchen_waterleak","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"2m5q3huuu57","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"false"},{"id":"9gywufa3gr","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"bool","comparatorValue":"true"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":90,"y":760,"wires":[["d8359d79.23d6c"],[]]},{"id":"eb37a78a.306768","type":"trigger-state","z":"42b2f3c5.be2ebc","name":"Ванная","server":"851f4335.e66ab","entityid":"sensor.bathroom_humidity_diff","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"uboshj5jr4a","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">","comparatorValueDatatype":"num","comparatorValue":"10"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":100,"y":240,"wires":[["58a5ed56.daccf4"],[]]},{"id":"188b8a76.3d9136","type":"comment","z":"42b2f3c5.be2ebc","name":"Вытяжка ванная","info":"","x":120,"y":200,"wires":[]},{"id":"58a5ed56.daccf4","type":"api-current-state","z":"42b2f3c5.be2ebc","name":"Автоматизация","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_exhaust","state_type":"habool","state_location":"payload","override_payload":"flow","entity_location":"data","override_data":"flow","blockInputOverrides":false,"x":300,"y":240,"wires":[["5850f677.fe4c18"],[]]},{"id":"c2574505.2facf8","type":"api-call-service","z":"42b2f3c5.be2ebc","name":"Вкл","server":"851f4335.e66ab","version":"1","service_domain":"script","service":"alarm_alert","entityId":"","data":"{\"message\":\"Вытяжка в ванной включена\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":240,"wires":[[]]},{"id":"c024cbc5.97f278","type":"api-call-service","z":"42b2f3c5.be2ebc","name":"Выкл","server":"851f4335.e66ab","version":"1","service_domain":"script","service":"alarm_alert","entityId":"","data":"{\"message\":\"Вытяжка в ванной выключена\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":280,"wires":[[]]},{"id":"a9a0c1ba.faaf3","type":"api-current-state","z":"42b2f3c5.be2ebc","name":"Автоматизация","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_exhaust","state_type":"habool","state_location":"payload","override_payload":"flow","entity_location":"data","override_data":"flow","blockInputOverrides":false,"x":300,"y":280,"wires":[["9b939230.a6802"],[]]},{"id":"e5a12f18.6481e","type":"trigger-state","z":"42b2f3c5.be2ebc","name":"Ванная","server":"851f4335.e66ab","entityid":"sensor.bathroom_humidity_diff","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"s7hbvnk3id","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"<","comparatorValueDatatype":"num","comparatorValue":"8"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":100,"y":280,"wires":[["a9a0c1ba.faaf3"],[]]},{"id":"a688fdd5.6be19","type":"trigger-state","z":"3cc38b72.222654","name":"Андрей","server":"851f4335.e66ab","entityid":"device_tracker.google_maps_105861814760109955404","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":6,"customoutputs":[{"outputId":"251vg84guxm","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"work"},{"outputId":"o6d8sl247jo","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"home"},{"outputId":"y0kkjsrb74","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"motherinlaw"},{"outputId":"zyw3xtd18n","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"not_home"}],"outputinitially":false,"state_type":"str","x":100,"y":120,"wires":[[],[],["b41814bc.6201f8"],["b41814bc.6201f8"],["b41814bc.6201f8"],[]]},{"id":"46d8540c.9c769c","type":"trigger-state","z":"3cc38b72.222654","name":"Оксана","server":"851f4335.e66ab","entityid":"device_tracker.google_maps_104258330239786803059","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":6,"customoutputs":[{"outputId":"251vg84guxm","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"work"},{"outputId":"o6d8sl247jo","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"home"},{"outputId":"y0kkjsrb74","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"motherinlaw"},{"outputId":"tod4vze1ae","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"is","comparatorValue":"not_home"}],"outputinitially":false,"state_type":"str","x":100,"y":300,"wires":[[],[],["b41814bc.6201f8"],["b41814bc.6201f8"],["b41814bc.6201f8"],[]]},{"id":"accb3899.8af7b8","type":"function","z":"3cc38b72.222654","name":"Сообщение","func":"//return { \"payload\": msg };\n\nvar name = msg.data.event.new_state.attributes.friendly_name;\nvar location = msg.payload;\n\nswitch(location) {\n    case \"home\":\n        location = \"дома\";\n        break;\n    case \"work\":\n        location = \"на работе\";\n        break;\n    case \"motherinlaw\":\n        location = \"у тёщи\";\n        break;\n    case \"not_home\":\n        location = \"не дома\";\n        break;\n}\n\nreturn { \n    \"payload\": `${name} ${location}`\n};","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["6c0456ea.42e8b8"]]},{"id":"b41814bc.6201f8","type":"switch","z":"3cc38b72.222654","name":"Новое состояние?","property":"$.data.event.new_state.state","propertyType":"jsonata","rules":[{"t":"neq","v":"$.data.event.old_state.state","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":200,"wires":[["accb3899.8af7b8"]]},{"id":"6c0456ea.42e8b8","type":"api-call-service","z":"3cc38b72.222654","name":"Оповещение","server":"851f4335.e66ab","version":"1","service_domain":"script","service":"alarm_alert","entityId":"","data":"{\"message\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":200,"wires":[[]]},{"id":"413b0f33.0d07d","type":"trigger-state","z":"3cc38b72.222654","name":"Андрей","server":"851f4335.e66ab","entityid":"device_tracker.google_maps_105861814760109955404","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ec4ua1k8cl","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"},{"id":"t48wmsq6hnh","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"not_home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":100,"y":200,"wires":[["b41814bc.6201f8"],[]]},{"id":"85b6c4b.bfeac38","type":"trigger-state","z":"3cc38b72.222654","name":"Оксана","server":"851f4335.e66ab","entityid":"device_tracker.google_maps_104258330239786803059","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ec4ua1k8cl","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"},{"id":"t48wmsq6hnh","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"not_home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":100,"y":380,"wires":[["b41814bc.6201f8"],[]]},{"id":"8e29a83.fcd7f58","type":"switch","z":"3cc38b72.222654","name":"Батарея почти пустая?","property":"$.data.event.new_state.attributes.battery_level","propertyType":"jsonata","rules":[{"t":"lt","v":"30","vt":"num"},{"t":"gte","v":"5","vt":"num"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":3,"x":330,"y":500,"wires":[["29773e54.741a42"],[],[]]},{"id":"29773e54.741a42","type":"switch","z":"3cc38b72.222654","name":"А была не пустая?","property":"$.data.event.old_state.attributes.battery_level","propertyType":"jsonata","rules":[{"t":"gte","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":540,"wires":[["9cc8251.a89ffd8"]]},{"id":"9cc8251.a89ffd8","type":"function","z":"3cc38b72.222654","name":"Сообщение","func":"//return { \"payload\": msg };\n\nvar name = msg.data.event.new_state.attributes.friendly_name;\nvar battery = msg.data.event.new_state.attributes.battery_level;\n\nreturn { \n    \"payload\": `${name}, заряди телефон! Сейчас всего ${battery}%.`\n};","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["6c0456ea.42e8b8"]]},{"id":"f8b495b0.25bf38","type":"trigger-state","z":"3cc38b72.222654","name":"Андрей","server":"851f4335.e66ab","entityid":"device_tracker.google_maps_105861814760109955404","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"0i2ebwh7zcsh","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":100,"y":500,"wires":[["8e29a83.fcd7f58"],["8e29a83.fcd7f58"]]},{"id":"9bef2ad5.929c38","type":"trigger-state","z":"3cc38b72.222654","name":"Оксана","server":"851f4335.e66ab","entityid":"device_tracker.google_maps_104258330239786803059","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"zc5es8tnvzm","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":100,"y":540,"wires":[["8e29a83.fcd7f58"],["8e29a83.fcd7f58"]]},{"id":"5501ac6d.5f4354","type":"comment","z":"3cc38b72.222654","name":"Перемещение","info":"","x":120,"y":40,"wires":[]},{"id":"a29858a.849f1a8","type":"comment","z":"3cc38b72.222654","name":"Перемещение","info":"","x":120,"y":460,"wires":[]},{"id":"205decff.cb7724","type":"api-current-state","z":"42b2f3c5.be2ebc","name":"Включена?","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.exhaust_kitchen","state_type":"habool","state_location":"payload","override_payload":"flow","entity_location":"data","override_data":"flow","blockInputOverrides":false,"x":510,"y":120,"wires":[["84269ef.818106"],[]]},{"id":"10a1e57.fbba01b","type":"api-current-state","z":"42b2f3c5.be2ebc","name":"Выключена?","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.exhaust_kitchen","state_type":"habool","state_location":"payload","override_payload":"flow","entity_location":"data","override_data":"flow","blockInputOverrides":false,"x":510,"y":80,"wires":[["fe0ce9be.b80a88"],[]]},{"id":"fe0ce9be.b80a88","type":"api-call-service","z":"42b2f3c5.be2ebc","name":"Включить","server":"851f4335.e66ab","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.exhaust_kitchen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":80,"wires":[[]]},{"id":"84269ef.818106","type":"api-call-service","z":"42b2f3c5.be2ebc","name":"Выключить","server":"851f4335.e66ab","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.exhaust_kitchen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":120,"wires":[[]]},{"id":"7bdac11b.ac9a1","type":"api-call-service","z":"42b2f3c5.be2ebc","name":"Вкл","server":"851f4335.e66ab","version":"1","service_domain":"script","service":"alarm_alert","entityId":"","data":"{\"message\":\"Вытяжка в кухне включена\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":80,"wires":[[]]},{"id":"f8681b17.e8ac48","type":"api-call-service","z":"42b2f3c5.be2ebc","name":"Выкл","server":"851f4335.e66ab","version":"1","service_domain":"script","service":"alarm_alert","entityId":"","data":"{\"message\":\"Вытяжка в кухне выключена\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":120,"wires":[[]]},{"id":"9b939230.a6802","type":"api-current-state","z":"42b2f3c5.be2ebc","name":"Включена?","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.exhaust_bathroom","state_type":"habool","state_location":"payload","override_payload":"flow","entity_location":"data","override_data":"flow","blockInputOverrides":false,"x":510,"y":280,"wires":[["2dbe2363.8b188c"],[]]},{"id":"5850f677.fe4c18","type":"api-current-state","z":"42b2f3c5.be2ebc","name":"Выключена?","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.exhaust_bathroom","state_type":"habool","state_location":"payload","override_payload":"flow","entity_location":"data","override_data":"flow","blockInputOverrides":false,"x":510,"y":240,"wires":[["c4b2f00f.1f388"],[]]},{"id":"c4b2f00f.1f388","type":"api-call-service","z":"42b2f3c5.be2ebc","name":"Включить","server":"851f4335.e66ab","version":1,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.exhaust_bathroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":240,"wires":[[]]},{"id":"2dbe2363.8b188c","type":"api-call-service","z":"42b2f3c5.be2ebc","name":"Выключить","server":"851f4335.e66ab","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.exhaust_bathroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":280,"wires":[[]]},{"id":"71ce4532.13f75c","type":"comment","z":"32779322.5c5d9c","name":"Кухня роллеты","info":"","x":120,"y":580,"wires":[]},{"id":"1c799480.f7404b","type":"inject","z":"32779322.5c5d9c","name":"23:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 23 * * *","once":false,"onceDelay":0.1,"x":90,"y":620,"wires":[["ea6b6e6c.cab8a"]]},{"id":"2fb33084.d9fca","type":"inject","z":"32779322.5c5d9c","name":"08:30","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 08 * * *","once":false,"onceDelay":0.1,"x":90,"y":660,"wires":[["d475991.cff5b68"]]},{"id":"14de6a4f.14d0d6","type":"api-call-service","z":"32779322.5c5d9c","name":"Закрыть","server":"851f4335.e66ab","version":"1","service_domain":"cover","service":"close_cover","entityId":"cover.shutters_kitchen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":620,"wires":[[]]},{"id":"3328d411.57fdfc","type":"api-call-service","z":"32779322.5c5d9c","name":"Открыть","server":"851f4335.e66ab","version":"1","service_domain":"cover","service":"open_cover","entityId":"cover.shutters_kitchen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":660,"wires":[[]]},{"id":"f37359a9.1874a8","type":"api-current-state","z":"32779322.5c5d9c","name":"Автоматизация","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_light","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":320,"wires":[["5f0bc6d.5776038"],[]]},{"id":"2f42cbdf.030a14","type":"api-current-state","z":"32779322.5c5d9c","name":"Автоматизация","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_light","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":360,"wires":[["6ceb6e2f.fbc9f"],[]]},{"id":"ea6b6e6c.cab8a","type":"api-current-state","z":"32779322.5c5d9c","name":"Автоматизация","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_light","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":620,"wires":[["14de6a4f.14d0d6"],[]]},{"id":"d475991.cff5b68","type":"api-current-state","z":"32779322.5c5d9c","name":"Автоматизация","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_light","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":660,"wires":[["3328d411.57fdfc"],[]]},{"id":"2b93b99a.546826","type":"api-call-service","z":"32779322.5c5d9c","name":"Свет в зале","server":"851f4335.e66ab","version":"1","service_domain":"light","service":"toggle","entityId":"light.livingroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":1020,"wires":[[]]},{"id":"920cfd6a.1e0f","type":"comment","z":"42b2f3c5.be2ebc","name":"Кондиционер зал","info":"","x":130,"y":400,"wires":[]},{"id":"e28b32b6.45ca2","type":"api-call-service","z":"32779322.5c5d9c","name":"Экран проектора","server":"851f4335.e66ab","version":"1","service_domain":"cover","service":"toggle","entityId":"cover.projector_screen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":570,"y":1120,"wires":[[]]},{"id":"471c9c6f.efbaf4","type":"comment","z":"32779322.5c5d9c","name":"Освещение зал","info":"","x":120,"y":980,"wires":[]},{"id":"b50c6e21.8217d","type":"comment","z":"32779322.5c5d9c","name":"Экран проектора","info":"","x":120,"y":1080,"wires":[]},{"id":"31986587.e0456a","type":"sunrise","z":"32779322.5c5d9c","name":"День/ночь","lat":"50.523238","lon":"30.603289","start":"sunrise","end":"sunset","x":100,"y":60,"wires":[["59962c5f.56d024"],[]]},{"id":"47564188.3cba8","type":"api-call-service","z":"32779322.5c5d9c","name":"День","server":"851f4335.e66ab","version":"1","service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.daylight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":40,"wires":[[]]},{"id":"59962c5f.56d024","type":"switch","z":"32779322.5c5d9c","name":"День/ночь","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":60,"wires":[["47564188.3cba8"],["c701b7b3.bca878"]]},{"id":"c701b7b3.bca878","type":"api-call-service","z":"32779322.5c5d9c","name":"Ночь","server":"851f4335.e66ab","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.daylight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":80,"wires":[[]]},{"id":"57102193.b8d9e","type":"trigger-state","z":"32779322.5c5d9c","name":"Куб зал","server":"851f4335.e66ab","entityid":"sensor.livingroom_cube","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"naivsk801mj","targetType":"this_entity","targetValue":"","propertyType":"property","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":""}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":100,"y":780,"wires":[["2f62f57f.b6f38a"],[]]},{"id":"2f62f57f.b6f38a","type":"debounce","z":"32779322.5c5d9c","time":"400","name":"","x":320,"y":780,"wires":[["8b385fe7.0a361"]]},{"id":"8b385fe7.0a361","type":"switch","z":"32779322.5c5d9c","name":"Жест","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"shake","vt":"str"},{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"flip180","vt":"str"},{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":530,"y":800,"wires":[["9412bccb.a0591"],["7693445a.767f8c"],["8a025794.4d3c08"],["dd7e5580.685fb8"],["871bb5a1.481cb8"]]},{"id":"d4b70ae2.072dd8","type":"api-current-state","z":"32779322.5c5d9c","name":"Автоматизация","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_light","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":1020,"wires":[["2b93b99a.546826"],[]]},{"id":"975ee392.0bd3e","type":"comment","z":"32779322.5c5d9c","name":"Кубик","info":"","x":90,"y":740,"wires":[]},{"id":"8a025794.4d3c08","type":"ha-fire-event","z":"32779322.5c5d9c","name":"flip180","server":"851f4335.e66ab","event":"flip180","data":"","dataType":"json","x":730,"y":860,"wires":[[]]},{"id":"dd7e5580.685fb8","type":"ha-fire-event","z":"32779322.5c5d9c","name":"rotate_left","server":"851f4335.e66ab","event":"rotate_left","data":"","dataType":"json","x":740,"y":900,"wires":[[]]},{"id":"871bb5a1.481cb8","type":"ha-fire-event","z":"32779322.5c5d9c","name":"rotate_right","server":"851f4335.e66ab","event":"rotate_right","data":"","dataType":"json","x":750,"y":940,"wires":[[]]},{"id":"7693445a.767f8c","type":"ha-fire-event","z":"32779322.5c5d9c","name":"flip90","server":"851f4335.e66ab","event":"flip90","data":"","dataType":"json","x":730,"y":820,"wires":[[]]},{"id":"9412bccb.a0591","type":"ha-fire-event","z":"32779322.5c5d9c","name":"shake","server":"851f4335.e66ab","event":"shake","data":"","dataType":"json","x":730,"y":780,"wires":[[]]},{"id":"76431f2a.0eea9","type":"server-events","z":"32779322.5c5d9c","name":"shake","server":"851f4335.e66ab","event_type":"shake","x":90,"y":1020,"wires":[["d4b70ae2.072dd8"]]},{"id":"1885a7f6.906498","type":"server-events","z":"32779322.5c5d9c","name":"flip90","server":"851f4335.e66ab","event_type":"flip90","x":90,"y":1120,"wires":[["fa273644.c77498"]]},{"id":"1a29f6ea.c4c8a9","type":"api-current-state","z":"42b2f3c5.be2ebc","name":"Автоматизация","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_temperature","state_type":"habool","state_location":"payload","override_payload":"flow","entity_location":"data","override_data":"flow","blockInputOverrides":false,"x":300,"y":540,"wires":[["2ba24792.bd2fb8"],[]]},{"id":"e9a931d6.211a","type":"function","z":"42b2f3c5.be2ebc","name":"Дельта","func":"var temp = msg.event_type;\nswitch(temp) {\n    case \"rotate_left\":\n        temp = -1;\n        break;\n    case \"rotate_right\":\n        temp = 1;\n        break;\n    default:\n        temp = 0;\n        break;\n}\n\nreturn { \n    \"payload\": temp\n};","outputs":1,"noerr":0,"x":700,"y":540,"wires":[["5516f14d.d7882"]]},{"id":"5516f14d.d7882","type":"api-current-state","z":"42b2f3c5.be2ebc","name":"Температура?","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"aaa","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"climate.livingroom_ac","state_type":"str","state_location":"payload","override_payload":"flow","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":920,"y":540,"wires":[["fc239a81.3be508"],[]]},{"id":"fc239a81.3be508","type":"function","z":"42b2f3c5.be2ebc","name":"Температура!","func":"var delta = msg.payload;\nvar temp = msg.data.attributes.temperature;\n\nreturn { \n    \"payload\": temp + delta\n};","outputs":1,"noerr":0,"x":1140,"y":540,"wires":[["69b35d81.a31274"]]},{"id":"69b35d81.a31274","type":"api-call-service","z":"42b2f3c5.be2ebc","name":"Установить","server":"851f4335.e66ab","version":"1","service_domain":"climate","service":"set_temperature","entityId":"climate.livingroom_ac","data":"{\"temperature\":\"{{payload}}\",\"hvac_mode\":\"cool\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1350,"y":540,"wires":[[]]},{"id":"bb5cb45d.dd1658","type":"api-call-service","z":"42b2f3c5.be2ebc","name":"Выключить","server":"851f4335.e66ab","version":"1","service_domain":"climate","service":"turn_off","entityId":"climate.livingroom_ac","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":460,"wires":[[]]},{"id":"d6082c09.f950e","type":"api-current-state","z":"42b2f3c5.be2ebc","name":"Автоматизация","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_temperature","state_type":"habool","state_location":"payload","override_payload":"flow","entity_location":"data","override_data":"flow","blockInputOverrides":false,"x":300,"y":440,"wires":[["80857ef2.3f696"],[]]},{"id":"a582dadb.f282d8","type":"server-events","z":"42b2f3c5.be2ebc","name":"flip180","server":"851f4335.e66ab","event_type":"flip180","x":90,"y":440,"wires":[["d6082c09.f950e"]]},{"id":"fa273644.c77498","type":"api-current-state","z":"32779322.5c5d9c","name":"Автоматизация","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":1120,"wires":[["e28b32b6.45ca2"],[]]},{"id":"7e1b3643.ffcf28","type":"server-events","z":"42b2f3c5.be2ebc","name":"rotate_left","server":"851f4335.e66ab","event_type":"rotate_left","x":100,"y":520,"wires":[["1a29f6ea.c4c8a9"]]},{"id":"4faa1d97.dd1504","type":"server-events","z":"42b2f3c5.be2ebc","name":"rotate_right","server":"851f4335.e66ab","event_type":"rotate_right","x":110,"y":560,"wires":[["1a29f6ea.c4c8a9"]]},{"id":"d3a4ddc4.5838d","type":"trigger-state","z":"add91c07.a5e05","name":"IOT","server":"851f4335.e66ab","entityid":"device_tracker.iot_","entityidfiltertype":"substring","debugenabled":false,"constraints":[{"id":"ij1o94l4kdl","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"home"},{"id":"606tvcxy9yq","targetType":"this_entity","targetValue":"","propertyType":"property","propertyValue":"new_state.attributes.entity_id","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"device_tracker.iot_mamibot"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":70,"y":80,"wires":[["c02b7cb8.8bba3"],[]]},{"id":"c02b7cb8.8bba3","type":"debug","z":"add91c07.a5e05","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":200,"wires":[]},{"id":"ebf5b9f1.082d38","type":"trigger-state","z":"add91c07.a5e05","name":"CAM","server":"851f4335.e66ab","entityid":"device_tracker.cam_","entityidfiltertype":"substring","debugenabled":false,"constraints":[{"id":"ij1o94l4kdl","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":70,"y":120,"wires":[["c02b7cb8.8bba3"],[]]},{"id":"8ecc234a.971b8","type":"trigger-state","z":"add91c07.a5e05","name":"SRV","server":"851f4335.e66ab","entityid":"device_tracker.srv_","entityidfiltertype":"substring","debugenabled":false,"constraints":[{"id":"ij1o94l4kdl","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":70,"y":160,"wires":[["c02b7cb8.8bba3"],[]]},{"id":"b3bb8fad.5093c","type":"api-call-service","z":"add91c07.a5e05","name":"Оповещение","server":"851f4335.e66ab","version":"1","service_domain":"script","service":"alarm_alert","entityId":"","data":"{\"message\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":120,"wires":[[]]},{"id":"c2bc4bff.d536c8","type":"function","z":"add91c07.a5e05","name":"Сообщение","func":"//return { \"payload\": msg };\n\nvar name = msg.data.event.new_state.attributes.friendly_name;\n\nreturn { \n    \"payload\": `${msg.topic} ${name} не пингуется`\n};","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["b3bb8fad.5093c"]]},{"id":"95dd93ca.1f00c","type":"time-range-switch","z":"32779322.5c5d9c","name":"","lat":"","lon":"","startTime":"17:00","endTime":"07:00","startOffset":0,"endOffset":0,"x":550,"y":460,"wires":[["9c64bf96.6e33a"],[]]},{"id":"9c64bf96.6e33a","type":"api-call-service","z":"32779322.5c5d9c","name":"Вкл коридор","server":"851f4335.e66ab","version":"1","service_domain":"light","service":"turn_on","entityId":"light.corridor","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":460,"wires":[[]]},{"id":"aa4ff548.436bc8","type":"api-call-service","z":"32779322.5c5d9c","name":"Выкл везде","server":"851f4335.e66ab","version":"1","service_domain":"homeassistant","service":"turn_off","entityId":"group.all_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":500,"wires":[[]]},{"id":"a5824527.aca748","type":"trigger-state","z":"7183087.63f20f8","name":"Под охраной","server":"851f4335.e66ab","entityid":"alarm_control_panel.ha_alarm","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"lkruutwoy3m","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"armed_away"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":140,"wires":[["ff881de0.8bcc7"],[]]},{"id":"ff881de0.8bcc7","type":"ha-fire-event","z":"7183087.63f20f8","name":"armed","server":"851f4335.e66ab","event":"armed","data":"","dataType":"json","x":310,"y":140,"wires":[[]]},{"id":"99b27787.d65278","type":"trigger-state","z":"7183087.63f20f8","name":"Снята охрана","server":"851f4335.e66ab","entityid":"alarm_control_panel.ha_alarm","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"wpazoghxjwr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"disarmed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":100,"wires":[["3d83a8b8.366028"],[]],"info":"111"},{"id":"3d83a8b8.366028","type":"ha-fire-event","z":"7183087.63f20f8","name":"disarmed","server":"851f4335.e66ab","event":"disarmed","data":"","dataType":"json","x":320,"y":100,"wires":[[]]},{"id":"80fb024a.1423d","type":"comment","z":"7183087.63f20f8","name":"Охрана вкл/выкл","info":"","x":120,"y":60,"wires":[]},{"id":"be0d3207.2d7f9","type":"comment","z":"32779322.5c5d9c","name":"Охрана вкл/выкл","info":"","x":120,"y":420,"wires":[]},{"id":"6b1b46ac.6fb818","type":"server-events","z":"32779322.5c5d9c","name":"disarmed","server":"851f4335.e66ab","event_type":"disarmed","x":100,"y":460,"wires":[["f2e07198.9d1e"]]},{"id":"d4f95604.099718","type":"server-events","z":"32779322.5c5d9c","name":"armed","server":"851f4335.e66ab","event_type":"armed","x":90,"y":500,"wires":[["aba8431.3bb77c"]]},{"id":"2dee1f24.eab27","type":"server-events","z":"42b2f3c5.be2ebc","name":"armed","server":"851f4335.e66ab","event_type":"armed","x":90,"y":680,"wires":[["dede5413.b7f8e8"]]},{"id":"7b807fe.56aca8","type":"comment","z":"42b2f3c5.be2ebc","name":"Охрана вкл/выкл","info":"","x":120,"y":640,"wires":[]},{"id":"d0ad53f6.260eb","type":"api-call-service","z":"42b2f3c5.be2ebc","name":"Выключить зал","server":"851f4335.e66ab","version":"1","service_domain":"climate","service":"turn_off","entityId":"climate.livingroom_ac","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":680,"wires":[["e079c5dc.351098"]]},{"id":"dede5413.b7f8e8","type":"api-current-state","z":"42b2f3c5.be2ebc","name":"Автоматизация","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_temperature","state_type":"habool","state_location":"payload","override_payload":"flow","entity_location":"data","override_data":"flow","blockInputOverrides":false,"x":300,"y":680,"wires":[["d0ad53f6.260eb"],[]]},{"id":"e079c5dc.351098","type":"api-call-service","z":"42b2f3c5.be2ebc","name":"Выключить спальня","server":"851f4335.e66ab","version":"1","service_domain":"climate","service":"turn_off","entityId":"climate.bedroom_ac","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":680,"wires":[[]]},{"id":"f2e07198.9d1e","type":"api-current-state","z":"32779322.5c5d9c","name":"Автоматизация","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_light","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":460,"wires":[["95dd93ca.1f00c"],[]]},{"id":"aba8431.3bb77c","type":"api-current-state","z":"32779322.5c5d9c","name":"Автоматизация","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.automation_light","state_type":"habool","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":500,"wires":[["aa4ff548.436bc8"],[]]},{"id":"80857ef2.3f696","type":"api-current-state","z":"42b2f3c5.be2ebc","name":"Выключен?","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.livingroom_ac","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":440,"wires":[["63d321d4.75693"],["bb5cb45d.dd1658"]]},{"id":"63d321d4.75693","type":"api-call-service","z":"42b2f3c5.be2ebc","name":"Включить","server":"851f4335.e66ab","version":"1","service_domain":"climate","service":"turn_on","entityId":"climate.livingroom_ac","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":420,"wires":[[]]},{"id":"2ba24792.bd2fb8","type":"api-current-state","z":"42b2f3c5.be2ebc","name":"Выключен?","server":"851f4335.e66ab","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.livingroom_ac","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":510,"y":540,"wires":[[],["e9a931d6.211a"]]}]